[submodule "e3sm"]
	path = E3SM
	url = git@github.com:amanzi/E3SM
	branch = elm-ats-dev
[submodule "amanzi"]
	path = amanzi
	url = git@github.com:amanzi/amanzi
        branch = elm_ats
[submodule "inputdata"]
	path = inputdata
	url = git@github.com:rfiorella/pt-e3sm-inputdata
	branch = compass-glm
[submodule "watershed_workflow"]
	path = watershed_workflow
	url = git@github.com:environmental-modeling-workflows/watershed-workflow
	branch = ecoon/elm_ats
